# config.py

# File Paths
ENCODING_FILE = "encodings.pickle" # Location of the face database

# Directory containing the source avatar images (used by encode_faces.py)
KNOWN_FACES_DIR = "known_image_directory"

# Recognition Parameters
TOLERANCE = 0.6  # How strict the recognition threshold should be

# RTSP Parameters
RTSP_BUFFER_SIZE = 1 # cv2.CAP_PROP_BUFFERSIZE setting
