#!/bin/bash

# Navigate to the application directory
cd /app_directory/face_recognition/

# Activate the virtual environment (adjust path if needed)
source venv/bin/activate

# Execute Gunicorn
# Options explained:
# -w 3: Use 3 worker processes (adjust based on server CPU cores)
# -b 0.0.0.0:5000: Bind to all interfaces on port 5000
# app:app: The module (app.py) : the Flask instance (app = Flask(__name__))
exec gunicorn -w 3 -b 0.0.0.0:5000 app:app
